<Files *.php>
  Order Deny,Allow
  Deny from Allow
  Allow from 127.0.0.1
</Files>
<Files index.php>
  Order Allow,Deny
  Allow from all
</Files>
<IfModule mod_rewrite.c>
  Options -Indexes

  RewriteEngine On
  RewriteCond $1 !^(index\\.php|resources|robots\\.txt)
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule ^(.+)$ index.php?/$1 [L,QSA]
</IfModule>